@charset "utf-8";
@import url("rwd.css");/* CSS Document */

@font-face {
  font-family: typewriter;
  src: url(Typewriter.ttf);
}

@font-face {
  font-family: story;
  src: url(SourceHanSerif-Regular.ttc);
}

@font-face {
  font-family: chinese;
  src: url(隸書繁.ttf);
}

::-moz-selection{ /*Firefox*/
	color: #111;
	background: #fff;
}

::selection{
	color: #111;
	background: #fff;
}


/****************************************************/

*{
	margin:0;
	padding:0;
}

body{
	font-family: typewriter, chinese;
	color: #fff;
	background:#101515;
	
	/*fade to another page*/
	opacity: 0;
   	transition: opacity 1s;
}

/* header */
header{
	position: -webkit-sticky; /*Safari*/
	position: sticky;
	
	color:#fff;
	text-align:center;
	top: 0;
	z-index: 2000;
	box-sizing:border-box;
}

.Logo{
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	text-align:left;
	margin:20px;
}

canvas:hover{
	cursor: pointer;
}

/*footer*/
footer{
	padding:20px 0px;
	text-align:center;	
}

#glslCanvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: auto;
}


/*===============rwd details===============*/

/* For tablets */
@media only screen and (min-width: 768px) { 	
	.Logo{
		margin:50px;
		font-size: 35px;
	}
}

/* For desktop */
@media only screen and (min-width: 1200px) {
	.Logo{
		text-align:right;
	}
}
